.planning > div {
  flex: 1;
}

.planning > div img {
  max-width: 33.75rem;
}

.planning-text {
  font-weight: 300;
  color: #1f2122;
}

.planning-title {
  font-size: 2rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.planning-desc {
  color: #585b5c;
  margin: 1.5rem 0;
}

.planning-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 31.875rem;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.planning-item {
  width: 10rem;
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  color: #1f2122;
  font-size: 0.875rem;
  font-weight: 300;
  box-sizing: border-box;

  img {
    height: 3rem;
    width: 3rem;
  }
}

.planning-img {
  text-align: right;
}

.planning-button {
  display: flex;
  gap: 0.875rem;
  margin-top: 2.5rem;
  align-items: center;

  /* justify-content: center; */
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}



.planning {
  display: none;
  width: 100%;
  justify-content: space-between;
}

.planning-active{
  display: flex;
}

.carousel-dot{
  display: none;
  position: absolute;
  bottom: 2rem;
}

.carousel-dot-inner{
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 1000px) {
  .planning > div {
    width: 100%;
  }

  .planning > div img {
    width: 100%;
    max-width: 400px;
  }

  .planning-title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 4px;
  }

  .planning-item {
    width: 105px;
    border-radius: 8px;
    padding: 12px;
    font-size: 12px;
  }

  .planning-img {
    margin-top: 40px;
    text-align: center;
  }

  .planning-active {
    display: block;
  }

  .carousel-dot{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 1.5rem;
  }
}
