.product-banner img{
  width: 100%;
  height: auto;
}

.product-content{
  padding: 4.375rem 0;
  display: flex;
  justify-content: center;
}

.product-title{
  text-align: left;
  color:#1F2122;
  font-size:2.5rem;
  line-height: 3rem;
  margin-bottom: 2.5rem;
}

.product-item-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color:#000;
  font-size: 1.5rem;
}


.product-card{
  display: flex;
  gap:1.5rem;
}

.product-card:last-child{
  margin-top: 5rem;
}

.product-item{
  border-top: 2px solid #D9D9D9;
  width: 24rem;
}

.product-item:hover{
  border-color:#F0591C;

  .product-item-top{
    color:#F0591C;
  }
}

.product-item-body .title{
  color: #1F2122;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  font-weight: 300;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
}

.product-item-body .desc{
  color: #1F2122;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  font-weight: 300;
}

.product-item-body img{
  width: 100%;
}
