.softer-page{
  padding-top: 64px;
}

.softer-banner{
  width: 100%;
  min-height: 30rem;
  background: url("../img/softer/banner.png") no-repeat;
  background-size: 100% auto;
  background-position: right;
  height: auto;
}

.softer-content{
  padding: 4.375rem 7.5rem;
  display: flex;
  justify-content: center;
}

.softer-top{
  display: flex;
  gap: 2.5rem;
  align-items: center;
  margin-bottom: 2.5rem;
  justify-content: space-between;
}

.softer-search-wrap{
  width: 18.75rem;
  border: 1px solid rgba(0,0,0,.25);
  color: #fff;
  display: flex;
  height: 2rem;
  padding: 6px;
  border-radius:6px;
  align-items: center;
  justify-content: space-between;
}

.softer-search-wrap input{
  border: 0;
  flex: 1;
  height:100%;
  width: 100%;
  font-size: 1rem !important;
}

.softer-search-wrap input:focus-visible{
  outline: 0;
}
.softer-title{
  text-align: left;
  color:#1F2122;
  font-size:2.5rem;
  line-height: 3rem;
}

.softer-item-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color:#000;
  font-size: 1.5rem;
}


.softer-card{
  display: flex;
  gap:2.5rem;
}

.softer-card:last-child{
  margin-top: 1.5rem;
}

.softer-item{
  border-top: 3px solid #F0591C;
  background: #FFF2E3;
  padding: 2.5rem 2rem ;
  display: flex;
  justify-content: center;
  flex: 1;
  gap:4rem;
}
.softer-item-body .desc{
  color: #1F2122;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  font-weight: 300;
}

.softer-item-right{
  height: 100%;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .softer-page{
    padding-top: 63px;
  }
  .softer-banner{
    height: 480px;
    width: auto;
    background-size: auto 100%;
  }
  .softer-card{
    flex-direction: column;
  }

  .softer-content{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .softer-search-wrap{
    width: 12.5rem;
  }
  /*.softer-top{*/
  /*  gap: 1rem*/
  /*}*/
}
